.log
.tmp
www/.tmp
www/out
www/src/img/*
www/src/img/logo.*
www/src/img/logo/*
!www/src/img/symbols
!www/src/img/structure/
!www/src/img/mkfavicon*
www/src/html/*
www/src/html/resume.html
www/src/html/case-study-0.html
!www/src/html/index.html
template.html
cloudbuild.yaml
