//
// form
//

// form-wizard
$form-wizard-header-bg:                       #eef2f7;

// form-select
$form-select-padding-y:                       0.45rem;
$form-select-padding-x:                       0.90rem;
$form-select-font-family:                     $input-font-family;
$form-select-font-size:                       $input-font-size;
$form-select-indicator-padding:               2.5rem;
$form-select-font-weight:                     $input-font-weight;
$form-select-line-height:                     $input-line-height;
$form-select-color:                           $input-color;
$form-select-bg:                              $input-bg;
$form-select-disabled-color:                  $gray-600;
$form-select-disabled-bg:                     $gray-200;
$form-select-disabled-border-color:           $input-disabled-border-color;
$form-select-bg-position:                     right 
                                              $form-select-padding-x 
                                              center;
$form-select-bg-size:                         16px 12px;
$form-select-indicator-color:                 $gray-800;
$form-select-indicator:                       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
$form-select-feedback-icon-padding-end:       $form-select-padding-x
                                              * 2.5
                                              + $form-select-indicator-padding;
$form-select-feedback-icon-position:          center 
                                              right 
                                              $form-select-indicator-padding;
$form-select-feedback-icon-size:              $input-height-inner-half 
                                              $input-height-inner-half;
$form-select-border-width:                    $input-border-width;
$form-select-border-color:                    $input-border-color;
$form-select-border-radius:                   $border-radius;
$form-select-box-shadow:                      none;
$form-select-focus-border-color:              $input-focus-border-color;
$form-select-focus-width:                     $input-focus-width;
$form-select-focus-box-shadow:                none;
$form-select-padding-y-sm:                    $input-padding-y-sm;
$form-select-padding-x-sm:                    $input-padding-x-sm;
$form-select-font-size-sm:                    $input-font-size-sm;
$form-select-padding-y-lg:                    $input-padding-y-lg;
$form-select-padding-x-lg:                    $input-padding-x-lg;
$form-select-font-size-lg:                    $input-font-size-lg;
$form-select-transition:                      $input-transition;

// form-range
$form-range-track-width:                      100%;
$form-range-track-height:                     0.5rem;
$form-range-track-cursor:                     pointer;
$form-range-track-bg:                         $gray-300;
$form-range-track-border-radius:              1rem;
$form-range-track-box-shadow:                 $box-shadow-inset;
$form-range-thumb-width:                      1rem;
$form-range-thumb-height:                     $form-range-thumb-width;
$form-range-thumb-bg:                         $component-active-bg;
$form-range-thumb-border:                     0;
$form-range-thumb-border-radius:              1rem;
$form-range-thumb-box-shadow:                 0 
                                              0.1rem 
                                              0.25rem 
                                              rgba($black, 0.1);
$form-range-thumb-focus-box-shadow:           0 
                                              0 
                                              0 
                                              1px 
                                              $body-bg, 
                                              $input-focus-box-shadow;
$form-range-thumb-focus-box-shadow-width:     $input-focus-width;
$form-range-thumb-active-bg:                  tint-color(
                                                $component-active-bg, 
                                                70%);
$form-range-thumb-disabled-bg:                $gray-500;
$form-range-thumb-transition:                 background-color 0.15s ease-in-out, 
                                              border-color 0.15s ease-in-out, 
                                              box-shadow 0.15s ease-in-out;

// form-file
$form-file-button-color:                      $input-color;
$form-file-button-bg:                         $input-group-addon-bg;
$form-file-button-hover-bg:                   shade-color(
                                                $form-file-button-bg, 
                                                5%);
// form-floating
$form-floating-height:                        add(
                                                3.5rem, 
                                                $input-height-border);
$form-floating-line-height:                   1.25;
$form-floating-padding-x:                     $input-padding-x;
$form-floating-padding-y:                     1rem;
$form-floating-input-padding-t:               1.625rem;
$form-floating-input-padding-b:               0.625rem;
$form-floating-label-opacity:                 0.65;
$form-floating-label-transform:               scale(.85) 
                                              translateY(-.5rem) 
                                              translateX(.15rem);
$form-floating-transition:                    opacity 0.1s ease-in-out, 
                                              transform 0.1s ease-in-out;

// form validation, tooltips and feedback
$form-feedback-margin-top:                    $form-text-margin-top;
$form-feedback-font-size:                     $form-text-font-size;
$form-feedback-font-style:                    $form-text-font-style;
$form-feedback-valid-color:                   $success;
$form-feedback-invalid-color:                 $danger;
$form-feedback-icon-valid-color:              $form-feedback-valid-color;
$form-feedback-icon-valid:                    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
$form-feedback-icon-invalid-color:            $form-feedback-invalid-color;
$form-feedback-icon-invalid:                  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color}'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color}' stroke='none'/></svg>");
$form-validation-states:                      (
                                                "valid": (
                                                  "color": $form-feedback-valid-color,
                                                  "icon": $form-feedback-icon-valid),
                                                "invalid": (
                                                  "color": $form-feedback-invalid-color,
                                                  "icon": $form-feedback-icon-invalid));
$form-feedback-tooltip-padding-y:             $tooltip-padding-y;
$form-feedback-tooltip-padding-x:             $tooltip-padding-x;
$form-feedback-tooltip-font-size:             $tooltip-font-size;
$form-feedback-tooltip-line-height:           null;
$form-feedback-tooltip-opacity:               $tooltip-opacity;
$form-feedback-tooltip-border-radius:         $tooltip-border-radius;
$form-text-margin-top:                        0.25rem;
$form-text-font-size:                         $small-font-size;
$form-text-font-style:                        null;
$form-text-font-weight:                       null;
$form-text-color:                             $text-muted;
$form-label-margin-bottom:                    0.5rem;
$form-label-font-size:                        null;
$form-label-font-style:                       null;
$form-label-font-weight:                      null;
$form-label-color:                            null;
$input-padding-y:                             0.45rem;
$input-padding-x:                             0.90rem;
$input-font-family:                           inherit; //null;
$input-font-size:                             $font-size-base;
$input-font-weight:                           $font-weight-base;
$input-line-height:                           $line-height-base;
$input-padding-y-sm:                          0.28rem;
$input-padding-x-sm:                          0.8rem;
$input-font-size-sm:                          $font-size-sm;
$input-padding-y-lg:                          0.5rem;
$input-padding-x-lg:                          1rem;
$input-font-size-lg:                          $font-size-lg;
$input-bg:                                    $white;
$input-disabled-bg:                           $gray-200;
$input-disabled-border-color:                 null;
$input-color:                                 $body-color;
$input-border-color:                          $gray-300;
$input-border-width:                          1px;
$input-box-shadow:                            $box-shadow-inset;
$input-border-radius:                         0.25rem;
$input-border-radius-sm:                      $border-radius-sm;
$input-border-radius-lg:                      $border-radius-lg;
$input-focus-bg:                              $input-bg;
$input-focus-border-color:                    shade-color($input-border-color,10%);
$input-focus-color:                           $input-color;
$input-focus-color-opacity:                   0.25;
$input-focus-color:                           rgba($primary, 0.25);
$input-focus-width:                           0.2rem;
$input-focus-box-shadow:                      0 
                                              0 
                                              0 
                                              $input-focus-width 
                                              $input-focus-color; // none is an alternative
$input-placeholder-color:                     $gray-500;
$input-plaintext-color:                       $body-color;
$input-height-border:                         $input-border-width * 2;
$input-height-inner:                          add(
                                                $input-line-height * 1em, 
                                                $input-padding-y * 2);
$input-height-inner-half:                     add(
                                                $input-line-height * 0.5em, 
                                                $input-padding-y);
$input-height-inner-quarter:                  add(
                                                $input-line-height * 0.25em, 
                                                $input-padding-y * 0.5);
$input-height:                                add(
                                                $input-line-height * 1em, 
                                                add(
                                                  $input-padding-y * 2, 
                                                  $input-height-border, 
                                                  false));
$input-height-sm:                             add(
                                                $input-line-height * 1em, 
                                                add(
                                                  $input-padding-y-sm * 2, 
                                                  $input-height-border, false));
$input-height-lg:                             add(
                                                $input-line-height * 1em, 
                                                add(
                                                  $input-padding-y-lg * 2, 
                                                  $input-height-border, false));
$input-transition:                            border-color 0.15s ease-in-out, 
                                              box-shadow 0.15s ease-in-out;
$form-color-width:                            3rem;
$form-check-input-width:                      1.112em;
$form-check-min-height:                       $font-size-base * $line-height-base;
$form-check-padding-start:                    $form-check-input-width + 0.5em;
$form-check-margin-bottom:                    0;
$form-check-label-color:                      null;
$form-check-label-cursor:                     null;
$form-check-transition:                       background-color 0.15s ease-in-out, 
                                              background-position 0.15s ease-in-out, 
                                              border-color 0.15s ease-in-out, 
                                              box-shadow 0.15s ease-in-out;
$form-check-input-active-filter:              brightness(90%);
$form-check-input-bg:                         $white;
$form-check-input-border:                     1px solid $gray-300;
$form-check-input-border-radius:              0.25em;
$form-check-radio-border-radius:              50%;
$form-check-input-focus-border:               $input-focus-border-color;
$form-check-input-focus-box-shadow:           none;
$form-check-input-checked-color:              $component-active-color;
$form-check-input-checked-bg-color:           $component-active-bg;
$form-check-input-checked-border-color:       $form-check-input-checked-bg-color;
$form-check-input-checked-bg-image:           url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>");
$form-check-radio-checked-bg-image:           url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>");
$form-check-input-indeterminate-color:        $component-active-color;
$form-check-input-indeterminate-bg-color:     $component-active-bg;
$form-check-input-indeterminate-border-color: $form-check-input-indeterminate-bg-color;
$form-check-input-indeterminate-bg-image:     url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>");
$form-check-input-disabled-opacity:           0.5;
$form-check-label-disabled-opacity:           $form-check-input-disabled-opacity;
$form-check-btn-check-disabled-opacity:       $btn-disabled-opacity;
$form-check-inline-margin-end:                1rem;
$form-switch-color:                           $gray-300;
$form-switch-width:                           2em;
$form-switch-padding-start:                   $form-switch-width + 0.5em;
$form-switch-bg-image:                        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color}'/></svg>");
$form-switch-border-radius:                   $form-switch-width;
$form-switch-transition:                      background-position 0.15s ease-in-out;
$form-switch-focus-color:                     $input-focus-border-color;
$form-switch-focus-bg-image:                  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-focus-color}'/></svg>");
$form-switch-checked-color:                   $component-active-color;
$form-switch-checked-bg-image:                url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-checked-color}'/></svg>");
$form-switch-checked-bg-position:             right center;
$input-group-addon-padding-y:                 $input-padding-y;
$input-group-addon-padding-x:                 $input-padding-x;
$input-group-addon-font-weight:               $input-font-weight;
$input-group-addon-color:                     $input-color;
$input-group-addon-bg:                        $gray-200;
$input-group-addon-border-color:              $input-border-color;

@each $color,
$value in $theme-colors {
    .form-checkbox-#{$color},
    .form-radio-#{$color} {
        .form-check-input {
            &:checked {
                background-color: $value;
                border-color: $value;
            }
        }
    }
}

.form-control-light {
    background-color: $gray-100 !important;
    border-color: $gray-100 !important;
}

input.form-control[type="color"],
input.form-control[type="range"] {
    min-height: 39px;
}

.custom-select.is-invalid, .form-control.is-invalid,.custom-select:invalid, .form-control:invalid,
.custom-select.is-valid, .form-control.is-valid, .custom-select:valid,.form-control:valid {
    &:focus {
        box-shadow: none !important;
    }
}

select.form-control {
    &:not([size]):not([multiple]) {
        height: $input-height;
    }
}

select.form-control-sm {
  &:not([size]):not([multiple]) {
    height: $input-height-sm;
  }
}

.password-eye {
    &:before {
        font-family: "Material Design Icons";
        content: "\F06D0";
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        vertical-align: middle;
        line-height: 1.2;
        font-size: 16px;
    }
}

.show-password {
    .password-eye {
        &:before {
            content: "\F06D1";
        }
    }  
}

