//
// list
//

$list-group-bg:                     $white;
$list-group-color:                  null;
$list-group-border-color:           $gray-200;

$list-group-hover-bg:               $gray-100;

$list-group-active-color:           $component-active-color;
$list-group-active-bg:              $component-active-bg;
$list-group-active-border-color:    $component-active-color;

$list-group-disabled-color:         $gray-700;
$list-group-disabled-bg:            $gray-300;

$list-group-action-color:           $gray-700;
$list-group-action-hover-color:     $list-group-action-color;
$list-group-action-active-color:    $body-color;
$list-group-action-active-bg:       $gray-200;

//$list-group-border-width:           $border-width;
//$list-group-border-radius:          $border-radius;
//
//$list-group-item-padding-y:         $spacer * .5;
//$list-group-item-padding-x:         $spacer * .8;
//$list-group-item-bg-scale:          -70%;
//$list-group-item-color-scale:       40%;







// scss-docs-end list-group-variables
