//
// tooltips
//
$tooltip-font-size:                 13px;
$tooltip-max-width:                 200px;
$tooltip-color:                     $gray-100;
$tooltip-bg:                        $gray-800;
$tooltip-border-radius:             0.2rem;
$tooltip-opacity:                   .9;
$tooltip-padding-y:                 .4rem;
$tooltip-padding-x:                 .8rem;
$tooltip-margin:                    0;
$tooltip-arrow-width:               .8rem;
$tooltip-arrow-height:              .4rem;
$tooltip-arrow-color:               $tooltip-bg;
